@import "~bootstrap/scss/bootstrap.scss";

.mainBox{
    height: 80rem;
    background-image: url(https://i.pinimg.com/originals/dc/a9/14/dca91418d5e1730a5b53e4d58462123b.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.lightPost {
    height: 12rem;
    width: 2rem;
    margin: auto;
}
.divisor {
    height: 9rem;
    width: 10rem;
    background-color: black;
    margin: auto;
    justify-content: center;
}
.Light {
    border-radius: 100%;
    width: 6rem;
    background-color: #404040;

}
.redLight {
    border-radius: 100%;
    width: 6rem;
    background-color: #D50600;
    box-shadow: 0 0 30px 15px #FF0000;
}

.yellowLight {
    border-radius: 100%;
    width: 6rem;
    background-color: #E7AB00;
    box-shadow: 0 0 30px 15px #FFD400;
}
.greenLight {
    border-radius: 100%;
    width: 6rem;
    background-color: rgb(3, 155, 1);
    box-shadow: 0 0 30px 15px rgb(9, 177, 0);
}
